.background{
    background-image: url("../img/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 763px;

}
main{
    width: 1063px;
    margin: 0 auto;
}
.logotype{
    background-image: url("../img/logo.png");
    width: 151px;
    float: left;
    margin: 49px 0;
    background-repeat: no-repeat;
}
.logo:hover.logotype{
    background-image: url("../img/logohover.png");
}

.logo-text{
    float: right;
    color: white;
    font-size: 29px;
    text-decoration: none;
}
.logo-text span{
    font-size: 18px;
    display: block;
}
.logo:hover .logo-text {
    color: #f26522;
}
.clear{
    clear: both;
}
.info-right{
    color: white;
    float: right;
    margin-top: 49px;
    font-size: 18px;
}
.gallery-item{
    float: left;
    margin-right: 70px;
    margin-bottom: 30px;
    text-decoration: none;
    position: relative;
}
.no-margin{
    margin-right: 0;
}
.footer-text{
    color: white;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 20px;
    font-size: 12px;
}
.img-text{
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.hover-text  {
    position: absolute;
    top: 65%;
    color: white;
    font-size: 10px;
    width: 307px;
    height: 1px;
    opacity: 0;
    transition: height  0.4s;
}
.hover-text p{
    padding: 10px 0 8px 10px
}
.hover-text span{
    font-size: 20px;
}
.hover-text-r {
    position: absolute;
    top: 25px;
    right: 14px;
    font-size: 13px;
}
.hover:hover .hover-text{
    opacity: 1;
    background: #f26522;
    height: 57px;
    width: 308px;

}
.img-text:hover{
    color: #f26522;
}

